body {
    background-color: #d8f2ff;
}

h1 {
    border-style: double;
    border-color: #53bbc9;
    border-width: 10px;
    text-align: center;
    color: #384155;
    font-family: Cambria;
    font-style: normal;
    font-size: 40px;
}

.sections {
    padding-left: 25px;
    font-family: Tahoma;
}

.image {
    text-align: center;
}

#toc {
    background-color: powderblue;
    color: #0a5f82;
    font-family: monospace;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    text-indent: 40px;
    color: #384155;
    font-family: 'Segoe UI';
    font-size: 20px;
}

#showcase {
    background-color: powderblue;
    color: #0a5f82;
    font-family: Verdana;
}